<p id="notice"><%= notice %></p>

<p>
  <strong>Cd jukebox:</strong>
  <%= @dive_rating.cd_jukebox %>
</p>

<p>
  <strong>Sweet caroline:</strong>
  <%= @dive_rating.sweet_caroline %>
</p>

<p>
  <strong>Pickeled:</strong>
  <%= @dive_rating.pickeled %>
</p>

<p>
  <strong>Dollar bills:</strong>
  <%= @dive_rating.dollar_bills %>
</p>

<p>
  <strong>Writing wall:</strong>
  <%= @dive_rating.writing_wall %>
</p>

<p>
  <strong>Mirror:</strong>
  <%= @dive_rating.mirror %>
</p>

<p>
  <strong>Pbr:</strong>
  <%= @dive_rating.pbr %>
</p>

<p>
  <strong>Domestic sign:</strong>
  <%= @dive_rating.domestic_sign %>
</p>

<p>
  <strong>Wash hands:</strong>
  <%= @dive_rating.wash_hands %>
</p>

<p>
  <strong>Urinal cake:</strong>
  <%= @dive_rating.urinal_cake %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @dive_rating.smoking %>
</p>

<p>
  <strong>Dart board:</strong>
  <%= @dive_rating.dart_board %>
</p>

<%= link_to 'Edit', edit_dive_rating_path(@dive_rating) %> |
<%= link_to 'Back', dive_ratings_path %>
