<p id="notice"><%= notice %></p>

<p>
  <strong>Ipa:</strong>
  <%= @brewery_rating.ipa %>
</p>

<p>
  <strong>Apa:</strong>
  <%= @brewery_rating.apa %>
</p>

<p>
  <strong>Ale:</strong>
  <%= @brewery_rating.ale %>
</p>

<p>
  <strong>Hefe:</strong>
  <%= @brewery_rating.hefe %>
</p>

<p>
  <strong>Porter:</strong>
  <%= @brewery_rating.porter %>
</p>

<p>
  <strong>Stout:</strong>
  <%= @brewery_rating.stout %>
</p>

<p>
  <strong>Pale:</strong>
  <%= @brewery_rating.pale %>
</p>

<p>
  <strong>Blonde:</strong>
  <%= @brewery_rating.blonde %>
</p>

<p>
  <strong>Pilsner:</strong>
  <%= @brewery_rating.pilsner %>
</p>

<p>
  <strong>Growler:</strong>
  <%= @brewery_rating.growler %>
</p>

<p>
  <strong>Crowler:</strong>
  <%= @brewery_rating.crowler %>
</p>

<p>
  <strong>Rail:</strong>
  <%= @brewery_rating.rail %>
</p>

<%= link_to 'Edit', edit_brewery_rating_path(@brewery_rating) %> |
<%= link_to 'Back', brewery_ratings_path %>
